body {
  background-color: #eaeaea;
  font-family: Arial;
}

.box {
  width: 320px;
  margin: 120px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

#count {
  margin-top: 10px;
  color: green;
}
